html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:url("El%20Capitan%202.jpg");
    background-repeat:no-repeat;
    background-size:cover;

}
h1{
    text-align: center;
    color: white;
    font-family: "Geneva",sans-serif;
    font-size: 40px;
    
}
h2{
    text-align: center;
    color: white;
    font-family: "Geneva",sans-serif;
    font-size: 20px;
    
}
#map {
    height: 60%;
    width: 60%;
    margin-left:250px;
    margin-top: 20px;
}

div#page {width: 960px; margin: 0 auto}