html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
}
h1{
    text-align: center;
    color: white;
    font-family: "Geneva",sans-serif;
    font-size: 40px;
    
}
h2{
    text-align: center;
    color: white;
    font-family: "Geneva",sans-serif;
    font-size: 20px;
}
#map {
    height: 50%;
    margin-top: 20px;
}